/*----------Fonts------------ */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/*----------common styles or utilities---------- */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.primary-button{
    border: hidden;
    outline: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 5px;
}

.font-space{
    margin-left: 5px;
}

/*----------nav style---------- */
nav{
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}

/*----------header section---------- */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-right{
    display: flex;
    justify-content: right;
    width: 100%;

}

.banner-right img{
    width: 440px;
    transition: width 2s;
}

.banner-right img:hover{
position: relative;
    width: 500px;
    }

.banner-left h1{
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 16px;
}
.banner-left p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 36px;
}

/*----------popular section---------- */

.popular-section h2{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
    margin-bottom: 30px;
    }
    
.popular-section a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10%;
    }


    
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-row-gap: 30px;
        margin-bottom: 50px;


    }

.products{
padding: 15px 15px;
width: 310px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
border-radius: 5px;

}

.product-photo{
    display: flex;
    padding: 10px;
    justify-content: center;
    height: 256px;
    border-radius: 5px;
    }

.product-description h3{
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 28px;
color: #18191F;
margin-top: 26px;
margin-bottom: 16px;
    }
.product-description p{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0%;
    margin-bottom: 10px;
    }
    
.ratings{
    font-size: 11px;
}
.fa-star,.fa-star-half-alt{
    color: rgba(251, 130, 0, 1)}


.ratings span{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
color: #5E6366;
margin-left: 5px;
}

.ratings p{
font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 143%;
color: #787885;
margin-top: 16px;
}

hr{
    margin: 100px 8%;
    }    

    /*----------contact section---------- */
    .contact-section h2{
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        color: #3A3A3A;
        margin-bottom: 30px;
    }
    .contact-us form{
        display: flex;
        flex-direction:column ;
        align-items: center;
        margin: 0px 50px;
        margin-bottom: 30px;
        padding: 25px 50px;
        border-radius: 20px;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

    }
.text-field{
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    outline: 0px;
    border: 2px solid rgba(224, 44, 109, 1);
    border-radius: 5px;
}


/*----------footer section---------- */
.footer{
    background-color:rgba(10, 8, 38, 1);
    padding-top: 50px;
    padding-bottom: 50px;

}
.footer-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 3px;
}
.footer-para{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 3px;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-top: 14px;
}
.fab{
    color: #ffffff;
    margin-right: 16px;
}

/*----------responsive css---------- */
@media (max-width:1054px){
    .banner-left h1{
        font-size: 45px;
    }
}
    
@media (max-width:1020px){
    .banner-left h1{
        font-size: 45px;

    }
    .banner-left p{
        font-size: 14px;
    }
    .banner-right img{
        width: 90%;
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-row-gap: 30px;
        margin-bottom: 50px;
    }
}

@media (max-width:930px){
    .banner-left h1{
        font-size: 40px;
    }
}

    @media (max-width:825px){
        .banner-left h1{
            font-size: 39px;
        }
        .banner-left h2{
            font-size: 13px;
        }
}

    @media (max-width:806px){
        .banner-left h1{
            font-size: 35px;
        }
        .banner-left h2{
            font-size: 13px;
        }
        .banner-right img{
            width: 80%;
        }
}

@media (max-width:729px){
    .banner-left h1{
        font-size: 30px;
    }
}

@media (max-width:726px){

    .banner{
        grid-template-columns: 1fr;
height: fit-content;
    }
    .banner-left{
        order: 2;
    }
    .banner-right img{
display: none;
    }
    }

@media (max-width:700px){
    .products{
        padding: 10px 10px;
        }
        .product-photo{
        padding: 5px;
            height: 250px;
            }
        
        .product-description h3{

        font-size: 25px;
            }
        .product-description p{
            font-size: 16px;
            }
        
    }

@media (max-width:690px){
    .banner-left{
        align-items: center;
    }
    .banner-left p{
text-align: center;
    }

    .popular-collection{
        grid-template-columns: repeat(1, 1fr);
    }
        
    }

    @media (max-width:670px){
        .contact-us form{
            margin: 0px 50px;
            margin-bottom: 30px;
            padding: 10px 10px;
        }
        .text-field{
            width: 80%;
            margin: 10px 0px;
            padding: 8px;
            font-size: 18px;
            font-family: inherit;
            outline: 0px;
            border: 2px solid rgba(224, 44, 109, 1);
            border-radius: 5px;
        }
    }

    @media (max-width:633px){
        .banner-left h1{
text-align: center;

        }
        .banner-left p{
text-align: center;
}
        }

        @media (max-width:460px){
            .contact-us form{
                margin: 0px 2px;
                margin-bottom: 30px;
                padding: 20px 20px;
            }

            .text-field{
                width: 100%;
            
            }
        }

        @media (max-width:375px){

            .products{
                padding: 5px 5px;
                width: 250px;
                }
                .product-photo{
                    height: 210px;
                    }
                
                .product-description h3{
        
                font-size: 20px;
                    }
                .product-description p{
                    font-size: 14px;
                    }

    }

